{% extends "auctions/layout.html" %}

{% block title %} Creating Auction {% endblock %}

{% block body %}

    <div class="row">    
    <h2 class="mx-auto my-auto">Create an Auction!</h2>    
    <form action="{% url 'create' %}" method="POST" class="mx-auto my-auto">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="input-group mb-3">
            {{ form.title.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">Title:</span>
            </div>
            {{ form.title }}
        </div>
        <div class="input-group mb-3">
            {{ form.bid.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            {{ form.bid }}                
            <div class="input-group-append">
                <span class="input-group-text">.00</span>
            </div>
        </div>        
        <div class="input-group mb-3">
            {{ form.imageurl.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">Image URL:</span>
            </div>            
            {{ form.imageurl }}
        </div>
        <div class="input-group mb-3">
            {{ form.category.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">Category:</span>
            </div>            
            {{ form.category }}
        </div>
        <div class="input-group mb-3">
            {{ form.description.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">Description:</span>
            </div>            
            {{ form.description }}
        </div>
        <div class="float-right">
            <a href="{% url 'index' %}" class="btn btn-dark">Cancel</a>
            <input type="submit" value="Post" class="btn btn-success">
        </div>
    </form>
    </div>

{% endblock %}